<div>
  <app-header> </app-header>
</div>
<app-search></app-search>
<div>
  <span>search</span>
  <div class="btn-group">
    <button
      class="btn  btn-sm dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      All
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Stories </a>
      <a class="dropdown-item" href="#">Comments</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <span>By</span>
  <div class="btn-group">
    <button
      class="btn  btn-sm dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Small button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Popularity</a>
      <a class="dropdown-item" href="#">Date</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <span>for</span>
  <div class="btn-group">
    <button
      class="btn  btn-sm dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Small button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">All time</a>
      <a class="dropdown-item" href="#">Last 24h</a>
      <a class="dropdown-item" href="#">Past Week</a>
    </div>
  </div>
</div>
