<div class="topnav SearchHeader">
  <div class="SearchHeader_label">
    <span> {{ navNaming }} </span>
  </div>

  <div class="search-container">
    <!-- Provide the QueryParamGroup somewhere on a parent element using queryParamGroup. -->
    <ng-container [queryParamGroup]="paramGroup">
      <!-- Use the queryParamName directive to reference a specific param of your group. -->

      <input
        type="text"
        class="SearchInput SearchHeader"
        placeholder="Search stories by title, url or author"
        queryParamName="searchText"
        (keyup.enter)="searching($event)"
      />
    </ng-container>
  </div>
  <div class="otherLink">
    <a routerLink="/user/history">History</a>
    <a (click)="logout()">Logout</a>
  </div>
</div>
<div class="content">
  <ng-container [queryParamGroup]="paramGroup">
    <div>
      <span class="SearchFilters">search</span>
      <select queryParamName="type">
        <option value="poll">poll</option>
        <option value="story">Stories</option>
        <option value="comment">Comments</option>
      </select>
      <span class="SearchFilters">By</span>

      <select queryParamName="type">
        <option value="front_page">front page Stories</option>
        <option value="">Last stories</option>
        <option value="">Last polls</option>
      </select>

      <!-- <span>for</span>
      <select queryParamName="dateRange">
        <option value="all">All time</option>
        <option value="last24h">Last 24h</option>
        <option value="pastWeek">Past Week</option>
      </select> -->
    </div>
  </ng-container>
</div>

<div class="container" class="content">
  <!-- <ul>
    <li *ngFor="let item of hitsResult; let i = index">
      <span *ngIf="item.author">{{ item.author }}</span>
    </li>
  </ul> -->

  <table>
    <tr *ngFor="let item of hitsResult; let i = index">
      <td *ngIf="item.author">
        <span class="title"> {{ item.title }} </span>
        <span>
          <a class="links" href="item.url">( {{ item.url }} )</a>
        </span>
        <br />
        <div class="details">
          <span> {{ item.points }} points </span>
          <span class="Story_separator">|</span>
          <span> {{ item.author }}</span>
          <span class="Story_separator">|</span>
          <span> {{ item.created_at_i | date }}</span
          ><span class="Story_separator">|</span>
          <span> {{ item.num_comments }} comments</span>
        </div>
      </td>
    </tr>
  </table>

  <div *ngIf="showMessage" class="text-center">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text">
          We found no stories matching Suggestions:
        </p>
      </div>
    </div>
  </div>
</div>
<!-- 
<ng-container [queryParamGroup]="paramGroup">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</ng-container> -->
